html, body {
	height: 100%;
	width: 100%;
}

html {
	display: table;
}

body {
	display: table-cell;
	vertical-align: middle;
	margin: auto;
}

h1, h2, h3, h4, h5, h6, p, a {
	font-family: arial, sans-serif;
	color: black
}

nav a {
	text-decoration: none;
}

@media (any-pointer: fine) {
	a:hover {
		color: #888;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #121212;
	}

	h1, h2, h3, h4, h5, h6, p, a {
		color: #EEE;
	}
}